:root {
  --color: #ffffff;
  --background: rgb(47, 160, 160);
}

.userApiPage {
  margin: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--background);
  color: var(--color);
  transition: 4s;
}

.title {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  font-size: 80px;
  letter-spacing: 5px;
  top: 50%;
  margin-top: -40px;
  transition: 4s;
  
  text-shadow: -1px -1px 0px var(--background),
    3px 3px 0px var(--background),
    6px 6px 0px #00000055;
}

.searchBar {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid white;  
}

.searchBar:focus {
  border-color: white;
  outline: none;
}

.userCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 70px;
  width: 70%;
  
}

.cardLayout {
  height: 300px;
  width: 300px;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(225, 225, 225, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  
}

.userImage {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}